/* .dashboard {
    background-color: rgb(161, 175, 220);
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
    padding: 80px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    background-color: rgb(49,64,113);

} */