.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.button {
    border-radius: 50px;
    background-color: #4942cd;
}
